<!DOCTYPE html>
<html>
    <head>
        <title>Mera App</title>
        <link rel="stylesheet" href="/css/style.css">
        {{!-- <link rel="stylesheet" href="/css/user_signup.css"> --}}
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <form action="">
                <label for="">Email</label>
                <input type="email" name="" id="email_input">
                <br>
                <label for="">Password</label>
                <input type="password" name="" id="password_input">
                <br>
                <button type="submit">SUBMIT</button>
            </form> 
        </div>
            {{>footer}}
        <script src="/js/login.js"></script>
    </body>
</html>