<!DOCTYPE html>
<html>
    <head>
        <title>Mera App</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            
            <h3>Interviews Scheduled!</h3>
        </div>
        {{>footer}}
    </body>
</html>