<!DOCTYPE html>
<html>
    <head>
        <title>Mera App</title>
        <link rel="stylesheet" href="/css/style.css">
        {{!-- <link rel="stylesheet" href="/css/user_signup.css"> --}}
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            
        </div>
            {{>footer}}
        <script src="/js/interviewer/feedback.js"></script>
    </body>
</html>