<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
        <h2>Onboard Candidate</h2>
        <div id="vanish_div">
            <form action="" >
                <label for="">Email</label>
                <input type="email" name="" id="email_input">
                <br>
                <label for="">Name</label>
                <input type="text" name="" id="name_input">
                <br>
                <label for="">Phone</label>
                <input type="number" name="" id="phone_input">
                <br>
                <label for="">Resume Link</label>
                <input type="file" id="resume_input" name="">
                <br>
                <button type="submit">SUBMIT</button>
            </form> 
        </div>
        <p id="data"></p>
        <br>
        <a href="http://localhost:2000/user/ta_landing"><button type="submit">BACK</button></a>
    </div>
    {{>footer}}
    <script src="/js/ta_exec/onboardCandidate.js"></script>
</body>
</html>