<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <a href="/user/onboardInterviewer"><button type="submit" id="" >Onboard Interviewer</button></a>
    <br>

    <br>

    <a href="/candidate/onboardCandidate"><button type="submit" id="" >Onboard Candidate</button></a>
    <br>

    <br>

    <a href="/schedule"><button type="submit" id="" >Schedule Interviews</button></a>
    <br>

    <br>

    <br>

    <a href="/candidate/listCandidates"><button type="submit" id="" >Available Candidates</button></a>
    <br>
    <br>
    <a href="/candidate/listInterviewers"><button type="submit" id="" >Available Interviewers</button></a>
    <br>

    </div>
    {{>footer}}
</body>
</html>